{% extends 'base.html' %}

{% block title %}{{ page.meta_title or 'About Us - Pilgrim Packages' }}{% endblock %}

{% block head %}
{% if page.meta_description %}
<meta name="description" content="{{ page.meta_description }}">
{% endif %}
{% endblock %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1 class="text-center mb-4">{{ page.title }}</h1>
            <div class="content">
                {{ page.content|safe }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
