<footer class="bg-dark text-white pt-5 pb-3">
    <div class="container">
        <div class="row text-start">
            <div class="col-md-4 mb-4">
                <h2 class="mb-3 h5">Quick Links</h2>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white text-decoration-none">About</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Jammu & Kashmir</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Ladakh</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Himachal</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Punjab</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Uttarakhand</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Rajasthan</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Bihar</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Uttar Pradesh</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Maharashtra</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-4">
                <h2 class="mb-3 h5">Legal Policy</h2>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white text-decoration-none">Terms & Conditions</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Cancellation Policy</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Privacy Policy</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Blog</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-4">
                <h2 class="mb-3 h5">Contact Info</h2>
                <p class="mb-1">Office No. 1707, 17th Floor Cloud 9 Tower I, Vaishali, Ghaziabad, Delhi - NCR - 201010</p>
                <p class="mb-1">sales@pilgrimpackages.com</p>
                <p class="mb-1">+91 8282824999</p>
                <p class="mb-1">+91 8282824555</p>
            </div>
        </div>
        <div class="text-center">
            &copy; 2025 Pilgrim Packages. All rights reserved.
        </div>
    </div>
</footer>
